<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"></section>
    <section name="tcresources" type="Teamcenter.Client.Fx.Utils.ConfigSectionHandler, TcFxBase"></section>
  </configSections>
  <!-- This section contains the log4net configuration settings -->
  <log4net threshold="ALL">
    <!-- LogFileAppender configuration settings -->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="${APPDATA}\Siemens\Teamcenter\Office\logs\TcExcelAddin_"></param>
      <param name="AppendToFile" value="true"></param>
      <rollingStyle value="Date"></rollingStyle>
      <datePattern value="yyyyMMdd.lo\g"></datePattern>
      <staticLogFileName value="false"></staticLogFileName>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%4t] %-5p %c [%x] - %m%n"></param>
      </layout>
    </appender>
    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %message %newline"></conversionPattern>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <!--Set log level value to OFF, INFO, DEBUG-->
    <root>
      <level value="ERROR"></level>
      <appender-ref ref="LogFileAppender"></appender-ref>
    </root>
    <logger name="Teamcenter">
      <level value="ERROR"></level>
    </logger>
    <logger name="Teamcenter.Client.Diagnostics">
      <level value="OFF"></level>
    </logger>
  </log4net>
  <tcresources>
        <dictionaries>
        <add assembly="TcFxBase" type="Teamcenter.Client.Fx.ModuleResources" />
        <add assembly="TcFxCommon" type="Teamcenter.Client.Fx.Common.ModuleResources" />
        <add assembly="TcAppCommon" type="Teamcenter.Client.TcAppCommon.ModuleResources" />
        <add assembly="TcDocMgmt" type="Teamcenter.Client.DocMgmt.ModuleResources" />
        <add assembly="TcExcelAddin" type="Teamcenter.Client.TcExcelAddin.ExcelResources" />
        <add assembly="TcExcelOfflineSupport" type="Teamcenter.Client.TcExcelOfflineSupport.ModuleResources" />
        <add assembly="TcMarkup" type="Teamcenter.Client.Markup.ModuleResources" />
        <add assembly="TcAttributeExchange" type="Teamcenter.Client.AttributeExchange.ModuleResources" />
        <add assembly="TcAttrExchange_Excel" type="Teamcenter.Client.AttributeExchange.Excel.ModuleResources" />
        <add assembly="TcDPVLauncher" type="Teamcenter.Client.DPVLauncher.ModuleResources" />
        <add assembly="TcReq_Presentation" type="Teamcenter.Client.TcReq_Presentation.ModuleResources" />
        <add assembly="TcReq_Infrastructure" type="Teamcenter.Client.TcReq_Infrastructure.ModuleResources" />
        <add assembly="TcReq_Excel" type="Teamcenter.Client.TcReq_Excel.ModuleResources" />
    </dictionaries>

    <!-- Installer_Placeholder_Connections_Start -->
    <connections SSO_Enabled="false">
        <add name="4 Tier client Prod environment" uri="http://2344AS0070PLM01.voestalpine.root.local/tc" preferred="false" protocol="HTTP" compression="true"></add>
	</connections>

    <!-- To opt out shared session, either comment out the following line or change true to false. -->
    <SharedSession optin="true"></SharedSession>

    <!-- Installer_Placeholder_Connections_End -->
    <!-- Custom configuration for adding type extension by the customers. -->
    <additionaltypeextensions>
      <!-- <add typeextension="docx" /> -->
    </additionaltypeextensions>
  </tcresources>
  <startup>
   <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"></supportedRuntime>
  </startup>
</configuration>
